In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import csv

complete_csv = "cleanData/CleanFullDataSet.csv"
compl_df = pd.read_csv(complete_csv, low_memory=False)

In [2]:
compl_df.columns

Index(['yearOfRegistration', 'Datasource', 'gender', 'ageBroad',
       'majorityStatus', 'majorityStatusAtExploit', 'majorityEntry',
       'citizenship', 'meansOfControlDebtBondage',
       'meansOfControlTakesEarnings', 'meansOfControlRestrictsFinancialAccess',
       'meansOfControlThreats', 'meansOfControlPsychologicalAbuse',
       'meansOfControlPhysicalAbuse', 'meansOfControlSexualAbuse',
       'meansOfControlFalsePromises', 'meansOfControlPsychoactiveSubstances',
       'meansOfControlRestrictsMovement', 'meansOfControlRestrictsMedicalCare',
       'meansOfControlExcessiveWorkingHours', 'meansOfControlUsesChildren',
       'meansOfControlThreatOfLawEnforcement',
       'meansOfControlWithholdsNecessities',
       'meansOfControlWithholdsDocuments', 'meansOfControlOther',
       'meansOfControlNotSpecified', 'meansOfControlConcatenated',
       'isForcedLabour', 'isSexualExploit', 'isOtherExploit', 'isSexAndLabour',
       'isForcedMarriage', 'isForcedMilitary', 'isOrganRemoval',
       'isSlaveryAndPractices', 'typeOfExploitConcatenated',
       'typeOfLabourAgriculture', 'typeOfLabourAquafarming',
       'typeOfLabourBegging', 'typeOfLabourConstruction',
       'typeOfLabourDomesticWork', 'typeOfLabourHospitality',
       'typeOfLabourIllicitActivities', 'typeOfLabourManufacturing',
       'typeOfLabourMiningOrDrilling', 'typeOfLabourPeddling',
       'typeOfLabourTransportation', 'typeOfLabourOther',
       'typeOfLabourNotSpecified', 'typeOfLabourConcatenated',
       'typeOfSexProstitution', 'typeOfSexPornography',
       'typeOfSexRemoteInteractiveServices', 'typeOfSexPrivateSexualServices',
       'typeOfSexConcatenated', 'isAbduction', 'RecruiterRelationship',
       'CountryOfExploitation', 'recruiterRelationIntimatePartner',
       'recruiterRelationFriend', 'recruiterRelationFamily',
       'recruiterRelationOther', 'recruiterRelationUnknown',
       'Citizenship Region', 'Citizenship Sub-Region',
       'Citizenship Intermediate Region', 'Citizenship Country',
       'Exploit Region', 'Exploit Sub-Region', 'Exploit Intermediate Region',
       'Exploit Country'],
      dtype='object')

In [3]:
country_data = compl_df.loc[:,['gender', 'ageBroad','Exploit Country','Citizenship Country','isForcedLabour', 'isSexualExploit', 'isOtherExploit', 'isSexAndLabour',
       'isForcedMarriage', 'isForcedMilitary', 'isOrganRemoval',
       'isSlaveryAndPractices', 'typeOfExploitConcatenated',
       'typeOfLabourAgriculture', 'typeOfLabourAquafarming',
       'typeOfLabourBegging', 'typeOfLabourConstruction',
       'typeOfLabourDomesticWork', 'typeOfLabourHospitality',
       'typeOfLabourIllicitActivities', 'typeOfLabourManufacturing',
       'typeOfLabourMiningOrDrilling', 'typeOfLabourPeddling',
       'typeOfLabourTransportation', 'typeOfLabourOther',
       'typeOfLabourNotSpecified','typeOfSexProstitution', 'typeOfSexPornography',
       'typeOfSexRemoteInteractiveServices', 'typeOfSexPrivateSexualServices' ]]

In [4]:
country_data = country_data.groupby(["Citizenship Country"]).head()

In [5]:
sum_all = country_data[['isForcedLabour', 'isSexualExploit', 'isOtherExploit', 'isSexAndLabour',
       'isForcedMarriage', 'isForcedMilitary', 'isOrganRemoval',
       'isSlaveryAndPractices',
       'typeOfLabourAgriculture', 'typeOfLabourAquafarming',
       'typeOfLabourBegging', 'typeOfLabourConstruction',
       'typeOfLabourDomesticWork', 'typeOfLabourHospitality',
       'typeOfLabourIllicitActivities', 'typeOfLabourManufacturing',
       'typeOfLabourMiningOrDrilling', 'typeOfLabourPeddling',
       'typeOfLabourTransportation', 'typeOfLabourOther',
       'typeOfLabourNotSpecified','typeOfSexProstitution', 'typeOfSexPornography',
       'typeOfSexRemoteInteractiveServices', 'typeOfSexPrivateSexualServices']].sum()

In [6]:
country_cases = pd.DataFrame({"Cases": sum_all})
country_cases

                                    Cases
isForcedLabour                         70
isSexualExploit                        60
isOtherExploit                         20
isSexAndLabour                          5
isForcedMarriage                        0
isForcedMilitary                        0
isOrganRemoval                          0
isSlaveryAndPractices                   0
typeOfLabourAgriculture                 5
typeOfLabourAquafarming                 0
typeOfLabourBegging                     5
typeOfLabourConstruction                5
typeOfLabourDomesticWork               15
typeOfLabourHospitality                 0
typeOfLabourIllicitActivities           0
typeOfLabourManufacturing               5
typeOfLabourMiningOrDrilling            0
typeOfLabourPeddling                    0
typeOfLabourTransportation              0
typeOfLabourOther                       1
typeOfLabourNotSpecified                9
typeOfSexProstitution                  15
typeOfSexPornography                    0
typeOfSexRemoteInteractiveServices      0
typeOfSexPrivateSexualServices          0

In [7]:
# %matplotlib notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
# import pycountry


#data file to work with
file = '../cleanData/CleanFullDataSet.csv'

#read data file
clean_data = pd.read_csv(file, low_memory = False)

In [20]:
start_df = clean_data.loc[:,['Citizenship Country','gender', 'ageBroad',  'Citizenship Region', 'Citizenship Intermediate Region', 'Citizenship Sub-Region', "Exploit Country"]]

In [21]:
start_df.head()

,Citizenship Country,gender,ageBroad,Citizenship Region,Citizenship Intermediate Region,Citizenship Sub-Region,Exploit Country
0,Colombia,Female,18--20,Americas,South America,Latin America and the Caribbean,unknown
1,Colombia,Female,18--20,Americas,South America,Latin America and the Caribbean,unknown
2,Colombia,Female,18--20,Americas,South America,Latin America and the Caribbean,unknown
3,Colombia,Female,18--20,Americas,South America,Latin America and the Caribbean,unknown
4,Colombia,Female,18--20,Americas,South America,Latin America and the Caribbean,unknown

In [10]:
# start_df = start_df.groupby(["Citizenship Country","Exploit Country"])

In [22]:
start_df = start_df.groupby("Exploit Country")

In [23]:
start_df.head()

,Citizenship Country,gender,ageBroad,Citizenship Region,Citizenship Intermediate Region,Citizenship Sub-Region,Exploit Country
0,Colombia,Female,18--20,Americas,South America,Latin America and the Caribbean,unknown
1,Colombia,Female,18--20,Americas,South America,Latin America and the Caribbean,unknown
2,Colombia,Female,18--20,Americas,South America,Latin America and the Caribbean,unknown
3,Colombia,Female,18--20,Americas,South America,Latin America and the Caribbean,unknown
4,Colombia,Female,18--20,Americas,South America,Latin America and the Caribbean,unknown
...,...,...,...,...,...,...,...
43555,Myanmar,Female,9--17,Asia,NaN,South-eastern Asia,Bangladesh
43556,Myanmar,Female,9--17,Asia,NaN,South-eastern Asia,Bangladesh
43557,Myanmar,Female,9--17,Asia,NaN,South-eastern Asia,Bangladesh
43558,Myanmar,Female,9--17,Asia,NaN,South-eastern Asia,Bangladesh
43559,Myanmar,Female,9--17,Asia,NaN,South-eastern Asia,Bangladesh

In [12]:
citizen_count = start_df["Citizenship Country"].value_counts()
exploit_count = start_df["Exploit Country"].value_counts()

In [24]:
citizen_count

Exploit Country  Citizenship Country
Afghanistan      Afghanistan                          83
Albania          Albania                              22
Argentina        Bolivia (Plurinational State of)     18
Austria          Ukraine                              24
Bahrain          Indonesia                            22
                                                    ...
unknown          unknown                             150
                 Indonesia                           141
                 Colombia                            111
                 Romania                              39
                 Ukraine                              11
Name: Citizenship Country, Length: 112, dtype: int64

In [25]:
exploit_count

Exploit Country           Exploit Country
Afghanistan               Afghanistan                    83
Albania                   Albania                        22
Argentina                 Argentina                      18
Austria                   Austria                        24
Bahrain                   Bahrain                        22
Bangladesh                Bangladesh                     26
Belarus                   Belarus                       400
Bosnia and Herzegovina    Bosnia and Herzegovina        127
Bulgaria                  Bulgaria                      356
Cambodia                  Cambodia                     1000
China                     China                          79
Cyprus                    Cyprus                         11
Czechia                   Czechia                        38
Denmark                   Denmark                        17
Ecuador                   Ecuador                        13
Egypt                     Egypt                          13
Ghana                     Ghana                         544
Haiti                     Haiti                         339
Hong Kong                 Hong Kong                      31
India                     India                          46
Indonesia                 Indonesia                    1777
Italy                     Italy                          24
Japan                     Japan                         111
Jordan                    Jordan                        108
Kazakhstan                Kazakhstan                    222
Kuwait                    Kuwait                        209
Lebanon                   Lebanon                        73
Libya                     Libya                          11
Madagascar                Madagascar                     94
Malaysia                  Malaysia                      930
Mauritius                 Mauritius                      20
North Macedonia           North Macedonia               194
Oman                      Oman                           94
Philippines               Philippines                  1988
Poland                    Poland                        326
Qatar                     Qatar                         239
Republic of Moldova       Republic of Moldova          4504
Romania                   Romania                       259
Russian Federation        Russian Federation           2738
Saudi Arabia              Saudi Arabia                  278
Senegal                   Senegal                       370
Serbia                    Serbia                        248
Sierra Leone              Sierra Leone                   81
Singapore                 Singapore                      37
South Africa              South Africa                   36
Syrian Arab Republic      Syrian Arab Republic           41
Tajikistan                Tajikistan                     54
Thailand                  Thailand                      391
Trinidad and Tobago       Trinidad and Tobago            85
Turkey                    Turkey                        197
Turkmenistan              Turkmenistan                   26
Uganda                    Uganda                        123
Ukraine                   Ukraine                      5399
United Arab Emirates      United Arab Emirates          504
United States of America  United States of America    12512
Uzbekistan                Uzbekistan                    193
Viet Nam                  Viet Nam                       16
unknown                   unknown                     10175
Name: Exploit Country, dtype: int64

In [13]:
citizen_count

Exploit Country  Citizenship Country
Afghanistan      Afghanistan                          83
Albania          Albania                              22
Argentina        Bolivia (Plurinational State of)     18
Austria          Ukraine                              24
Bahrain          Indonesia                            22
                                                    ...
unknown          unknown                             150
                 Indonesia                           141
                 Colombia                            111
                 Romania                              39
                 Ukraine                              11
Name: Citizenship Country, Length: 112, dtype: int64

In [17]:
new_df = pd.DataFrame({"Citizenship": citizen_count, "Total of Exploitation": exploit_count})
new_df= new_df.reset_index()
# new_df= new_df.drop(columns=["level_0"])
# new_df = new_df.rename(columns={"level_1": "Citizenship Country","level_2": "Exploit Country" })
# new_df = new_df.dropna(how="any")
new_df

,level_0,level_1,Citizenship,Total of Exploitation
0,Afghanistan,Afghanistan,83.0,83.0
1,Albania,Albania,22.0,22.0
2,Argentina,Argentina,NaN,18.0
3,Argentina,Bolivia (Plurinational State of),18.0,NaN
4,Austria,Austria,NaN,24.0
...,...,...,...,...
142,unknown,Philippines,8671.0,NaN
143,unknown,Republic of Moldova,682.0,NaN
144,unknown,Romania,39.0,NaN
145,unknown,Ukraine,11.0,NaN
146,unknown,unknown,150.0,10175.0

In [15]:
new_df = new_df.sort_values(by=["Citizenship"], ascending =False)
new_df = new_df.reset_index()
new_df

,index,level_0,level_1,Citizenship,Total of Exploitation
0,136,United States of America,unknown,8822.0,NaN
1,142,unknown,Philippines,8671.0,NaN
2,125,Ukraine,Ukraine,5299.0,5399.0
3,79,Republic of Moldova,Republic of Moldova,4504.0,4504.0
4,135,United States of America,United States of America,3636.0,12512.0
...,...,...,...,...,...
142,109,Syrian Arab Republic,Syrian Arab Republic,NaN,41.0
143,114,Thailand,Thailand,NaN,391.0
144,117,Trinidad and Tobago,Trinidad and Tobago,NaN,85.0
145,119,Turkey,Turkey,NaN,197.0
146,131,United Arab Emirates,United Arab Emirates,NaN,504.0

In [16]:
new_df = new_df.loc[new_df["Exploit Country"] == "United States of America"]
new_df

KeyError: 'Exploit Country'

In [27]:
#exploited country based on Citizenship
start_df.head()

,Citizenship Country,gender,ageBroad,Citizenship Region,Citizenship Intermediate Region,Citizenship Sub-Region,Exploit Country
0,Colombia,Female,18--20,Americas,South America,Latin America and the Caribbean,unknown
1,Colombia,Female,18--20,Americas,South America,Latin America and the Caribbean,unknown
2,Colombia,Female,18--20,Americas,South America,Latin America and the Caribbean,unknown
3,Colombia,Female,18--20,Americas,South America,Latin America and the Caribbean,unknown
4,Colombia,Female,18--20,Americas,South America,Latin America and the Caribbean,unknown
...,...,...,...,...,...,...,...
43555,Myanmar,Female,9--17,Asia,NaN,South-eastern Asia,Bangladesh
43556,Myanmar,Female,9--17,Asia,NaN,South-eastern Asia,Bangladesh
43557,Myanmar,Female,9--17,Asia,NaN,South-eastern Asia,Bangladesh
43558,Myanmar,Female,9--17,Asia,NaN,South-eastern Asia,Bangladesh
43559,Myanmar,Female,9--17,Asia,NaN,South-eastern Asia,Bangladesh

In [41]:
compare_df = clean_data.loc[:,['Citizenship Country','gender', 'ageBroad', "Exploit Country"]]
compare_df = compare_df.groupby("Citizenship Country")

In [42]:
compare_df.count()

                                  gender  ageBroad  Exploit Country
Citizenship Country
Afghanistan                           97        97               97
Albania                               22        22               22
Bangladesh                            11        11               11
Belarus                             1463      1463             1239
Bolivia (Plurinational State of)      18        18               18
Bulgaria                             342       342              342
Burkina Faso                          33        33               33
Cambodia                            1979      1979             1979
China                                 23        23               23
Colombia                             124       124              124
Côte d’Ivoire                         31        31               31
Democratic Republic of the Congo      53        53               53
Eritrea                               13        13               13
Ghana                                544       544              544
Guinea                                15        15               15
Guinea-Bissau                        145       145              145
Haiti                                339       339              339
Indonesia                           1971      1971             1938
Kazakhstan                            54        54               54
Kenya                                 32        32               32
Kyrgyzstan                           437       437              286
Lao People's Democratic Republic     126       126              126
Madagascar                            94        94               94
Mali                                  45        45               45
Mexico                                19        19               19
Myanmar                             1250      1250             1250
Nepal                                 27        27               27
Niger                                 31        31               31
Nigeria                              108       108              108
Philippines                        11365     11365            11365
Republic of Korea                     12        12               12
Republic of Moldova                 5901      5901             5432
Romania                              655       655              655
Senegal                               70        70               70
Sierra Leone                          81        81               81
Sri Lanka                             85        85               85
Tajikistan                            43        43               43
Thailand                              55        55               55
Turkmenistan                          26        26               26
Uganda                                70        70               70
Ukraine                             7761      7761             7761
United States of America            3636      3636             3636
Uzbekistan                           261       261              261
Viet Nam                             170       170              170
unknown                             9136      9136             9136

In [47]:

exploited_count = compare_df["Exploit Country"].value_counts()
trafficked_by_country = compare_df["Citizenship Country"].value_counts()

In [61]:
#so what's happening is that when i group itby citizenship and then due a value count per exploited country
#its kind of creating a nested group with in which is why when creating a data, it displays like this 

test_df = pd.DataFrame({"exp": exploited_count,"citz": trafficked_by_country})
test_df = test_df.reset_index()
test_df

         level_0                   level_1     exp    citz
0    Afghanistan               Afghanistan    83.0    97.0
1    Afghanistan              Saudi Arabia    14.0     NaN
2        Albania                   Albania    22.0    22.0
3     Bangladesh                Bangladesh     NaN    11.0
4     Bangladesh                Tajikistan    11.0     NaN
..           ...                       ...     ...     ...
129      unknown                     India    46.0     NaN
130      unknown                  Thailand    11.0     NaN
131      unknown                   Ukraine    36.0     NaN
132      unknown  United States of America  8822.0     NaN
133      unknown                   unknown   150.0  9136.0

[134 rows x 4 columns]