In [13]:
# import directories
%matplotlib notebook
import os
import csv
import pandas as pd

# create path for data file
data_csv = os.path.join('..','cleanData','CleanFullDataSet.csv')

# use read_csv function from pandas directory to create a data frame
data_df=pd.read_csv(data_csv, low_memory = False)

In [14]:
data_df.columns

Index(['yearOfRegistration', 'Datasource', 'gender', 'ageBroad',
       'majorityStatus', 'majorityStatusAtExploit', 'majorityEntry',
       'citizenship', 'meansOfControlDebtBondage',
       'meansOfControlTakesEarnings', 'meansOfControlRestrictsFinancialAccess',
       'meansOfControlThreats', 'meansOfControlPsychologicalAbuse',
       'meansOfControlPhysicalAbuse', 'meansOfControlSexualAbuse',
       'meansOfControlFalsePromises', 'meansOfControlPsychoactiveSubstances',
       'meansOfControlRestrictsMovement', 'meansOfControlRestrictsMedicalCare',
       'meansOfControlExcessiveWorkingHours', 'meansOfControlUsesChildren',
       'meansOfControlThreatOfLawEnforcement',
       'meansOfControlWithholdsNecessities',
       'meansOfControlWithholdsDocuments', 'meansOfControlOther',
       'meansOfControlNotSpecified', 'meansOfControlConcatenated',
       'isForcedLabour', 'isSexualExploit', 'isOtherExploit', 'isSexAndLabour',
       'isForcedMarriage', 'isForcedMilitary', 'isOrganRemoval',
       'isSlaveryAndPractices', 'typeOfExploitConcatenated',
       'typeOfLabourAgriculture', 'typeOfLabourAquafarming',
       'typeOfLabourBegging', 'typeOfLabourConstruction',
       'typeOfLabourDomesticWork', 'typeOfLabourHospitality',
       'typeOfLabourIllicitActivities', 'typeOfLabourManufacturing',
       'typeOfLabourMiningOrDrilling', 'typeOfLabourPeddling',
       'typeOfLabourTransportation', 'typeOfLabourOther',
       'typeOfLabourNotSpecified', 'typeOfLabourConcatenated',
       'typeOfSexProstitution', 'typeOfSexPornography',
       'typeOfSexRemoteInteractiveServices', 'typeOfSexPrivateSexualServices',
       'typeOfSexConcatenated', 'isAbduction', 'RecruiterRelationship',
       'CountryOfExploitation', 'recruiterRelationIntimatePartner',
       'recruiterRelationFriend', 'recruiterRelationFamily',
       'recruiterRelationOther', 'recruiterRelationUnknown',
       'Citizenship Region', 'Citizenship Sub-Region',
       'Citizenship Intermediate Region', 'Citizenship Country',
       'Exploit Region', 'Exploit Sub-Region', 'Exploit Intermediate Region',
       'Exploit Country'],
      dtype='object')

In [15]:
data_df = data_df[['yearOfRegistration', 'Datasource','gender', 'ageBroad',
       'majorityStatus', 'majorityStatusAtExploit', 'majorityEntry',
       'citizenship','Citizenship Region', 'Citizenship Sub-Region',
       'Citizenship Intermediate Region', 'Citizenship Country','CountryOfExploitation',
       'Exploit Region', 'Exploit Sub-Region', 'Exploit Intermediate Region',
       'Exploit Country']]
data_df.head()

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,Citizenship Region,Citizenship Sub-Region,Citizenship Intermediate Region,Citizenship Country,CountryOfExploitation,Exploit Region,Exploit Sub-Region,Exploit Intermediate Region,Exploit Country
0,2002,Case Management,Female,18--20,Adult,unknown,unknown,CO,Americas,Latin America and the Caribbean,South America,Colombia,unknown,unknown,unknown,unknown,unknown
1,2002,Case Management,Female,18--20,Adult,unknown,unknown,CO,Americas,Latin America and the Caribbean,South America,Colombia,unknown,unknown,unknown,unknown,unknown
2,2002,Case Management,Female,18--20,Adult,unknown,unknown,CO,Americas,Latin America and the Caribbean,South America,Colombia,unknown,unknown,unknown,unknown,unknown
3,2002,Case Management,Female,18--20,Adult,unknown,unknown,CO,Americas,Latin America and the Caribbean,South America,Colombia,unknown,unknown,unknown,unknown,unknown
4,2002,Case Management,Female,18--20,Adult,unknown,unknown,CO,Americas,Latin America and the Caribbean,South America,Colombia,unknown,unknown,unknown,unknown,unknown

In [24]:
data_df.groupby(['Citizenship Region', 'gender']).count()

                           yearOfRegistration  Datasource  ageBroad  \
Citizenship Region gender
Africa             Female                 585         585       585
                   Male                   780         780       780
Americas           Female                3942        3942      3942
                   Male                   194         194       194
Asia               Female               11725       11725     11725
                   Male                  6267        6267      6267
Europe             Female               10518       10518     10518
                   Male                  5626        5626      5626
unknown            Female                8736        8736      8736
                   Male                   400         400       400

                           majorityStatus  majorityStatusAtExploit  \
Citizenship Region gender
Africa             Female             585                      585
                   Male               780                      780
Americas           Female            3942                     3942
                   Male               194                      194
Asia               Female           11725                    11725
                   Male              6267                     6267
Europe             Female           10518                    10518
                   Male              5626                     5626
unknown            Female            8736                     8736
                   Male               400                      400

                           majorityEntry  citizenship  Citizenship Sub-Region  \
Citizenship Region gender
Africa             Female            585          585                     585
                   Male              780          780                     780
Americas           Female           3942         3942                    3942
                   Male              194          194                     194
Asia               Female          11725        11725                   11725
                   Male             6267         6267                    6267
Europe             Female          10518        10518                   10518
                   Male             5626         5626                    5626
unknown            Female           8736         8736                    8736
                   Male              400          400                     400

                           Citizenship Intermediate Region  \
Citizenship Region gender
Africa             Female                              585
                   Male                                780
Americas           Female                              332
                   Male                                168
Asia               Female                                0
                   Male                                  0
Europe             Female                                0
                   Male                                  0
unknown            Female                             8736
                   Male                                400

                           Citizenship Country  CountryOfExploitation  \
Citizenship Region gender
Africa             Female                  585                    585
                   Male                    780                    780
Americas           Female                 3942                   3942
                   Male                    194                    194
Asia               Female                11725                  11725
                   Male                   6267                   6267
Europe             Female                10518                  10518
                   Male                   5626                   5626
unknown            Female                 8736                   8736
                   Male                    400                    400

                           Exploit Region  Exploit Sub-Region  \
Citizenship Region gender
Africa             Female             585                 585
                   Male               780                 780
Americas           Female            3942                3942
                   Male               194                 194
Asia               Female           11639               11639
                   Male              6169                6169
Europe             Female           10019               10019
                   Male              5432                5432
unknown            Female            8736                8736
                   Male               400                 400

                           Exploit Intermediate Region  Exploit Country
Citizenship Region gender
Africa             Female                          445              585
                   Male                            767              780
Americas           Female                          332             3942
                   Male                            149              194
Asia               Female                         6675            11639
                   Male                           2648             6169
Europe             Female                          732            10019
                   Male                              0             5432
unknown            Female                           87             8736
                   Male                             63              400

In [21]:
data_df.groupby('gender').count()

,yearOfRegistration,Datasource,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,Citizenship Region,Citizenship Sub-Region,Citizenship Intermediate Region,Citizenship Country,CountryOfExploitation,Exploit Region,Exploit Sub-Region,Exploit Intermediate Region,Exploit Country
gender,,,,,,,,,,,,,,,,
Female,35506,35506,35506,35506,35506,35506,35506,35506,35506,9653,35506,35506,34921,34921,8271,34921
Male,13267,13267,13267,13267,13267,13267,13267,13267,13267,1348,13267,13267,12975,12975,3627,12975

In [26]:
data_df.groupby(['Exploit Region', 'gender']).count()

                       yearOfRegistration  Datasource  ageBroad  \
Exploit Region gender
Africa         Female                 456         456       456
               Male                   836         836       836
Americas       Female               12404       12404     12404
               Male                   563         563       563
Asia           Female                5420        5420      5420
               Male                  3366        3366      3366
Europe         Female                9051        9051      9051
               Male                  5625        5625      5625
unknown        Female                7590        7590      7590
               Male                  2585        2585      2585

                       majorityStatus  majorityStatusAtExploit  majorityEntry  \
Exploit Region gender
Africa         Female             456                      456            456
               Male               836                      836            836
Americas       Female           12404                    12404          12404
               Male               563                      563            563
Asia           Female            5420                     5420           5420
               Male              3366                     3366           3366
Europe         Female            9051                     9051           9051
               Male              5625                     5625           5625
unknown        Female            7590                     7590           7590
               Male              2585                     2585           2585

                       citizenship  Citizenship Region  \
Exploit Region gender
Africa         Female          456                 456
               Male            836                 836
Americas       Female        12404               12404
               Male            563                 563
Asia           Female         5420                5420
               Male           3366                3366
Europe         Female         9051                9051
               Male           5625                5625
unknown        Female         7590                7590
               Male           2585                2585

                       Citizenship Sub-Region  \
Exploit Region gender
Africa         Female                     456
               Male                       836
Americas       Female                   12404
               Male                       563
Asia           Female                    5420
               Male                      3366
Europe         Female                    9051
               Male                      5625
unknown        Female                    7590
               Male                      2585

                       Citizenship Intermediate Region  Citizenship Country  \
Exploit Region gender
Africa         Female                              456                  456
               Male                                780                  836
Americas       Female                             8759                12404
               Male                                452                  563
Asia           Female                              135                 5420
               Male                                 14                 3366
Europe         Female                              120                 9051
               Male                                 24                 5625
unknown        Female                              183                 7590
               Male                                 78                 2585

                       CountryOfExploitation  Exploit Sub-Region  \
Exploit Region gender
Africa         Female                    456                 456
               Male                      836                 836
Americas       Female                  12404               12404
               Male                      563                 563
Asia           Female                   5420                5420
               Male                     3366                3366
Europe         Female                   9051                9051
               Male                     5625                5625
unknown        Female                   7590                7590
               Male                     2585                2585

                       Exploit Intermediate Region  Exploit Country
Exploit Region gender
Africa         Female                          445              456
               Male                            823              836
Americas       Female                          236            12404
               Male                            219              563
Asia           Female                            0             5420
               Male                              0             3366
Europe         Female                            0             9051
               Male                              0             5625
unknown        Female                         7590             7590
               Male                           2585             2585